*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: black;
}
.card{
    background: linear-gradient(135deg,rgb(92, 226, 58),rgb(99, 43, 204));
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#srch{
    border-radius: 15px;
    border: none;
    height: 40px;
    min-width: 450px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
}
#srch:focus{
    outline: none;
}
.srchbtn{
    border-radius: 50%;
    padding: 6px;
    border: none;
}
.srchimg{
    width: 30px;
}
.weatherimg{
    width: 170px;
}

.temprature, .weathertype{
    font-size:xx-large;
    color: white;
    letter-spacing: 4px;
}
.cityname{
    font-size: 80px;
    color: white;
    letter-spacing: 4px;
}
.details{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
}
.wind, .humidity{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    
} 
.wind p, .humidity p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
@media screen and (max-width:500px) {
    
    .details{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        transition: all 1s;
    }
    .weatherimg{
        width: 130px;
    }
    .cityname{
        font-size:50px ;
    }
    .search{
        gap: 5px;
    }
    #srch{
        min-width: 250px;
    }
    


}
@media (max-width:700px) and (min-width:500px) {
    .details{
        gap: 30px;
    }
    .wind, .humidity{
        width: 220px;
        transition: all 1s;
    }
    #srch{
        min-width: 350px;
    }

    
}
